<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nainai.mapper.ProductOfferMapper">
  <resultMap id="BaseResultMap" type="com.nainai.domain.ProductOffer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="classify_id" jdbcType="VARCHAR" property="classifyId" />
    <result column="module_id" jdbcType="VARCHAR" property="moduleId" />
    <result column="navigation_id" jdbcType="VARCHAR" property="navigationId" />
    <result column="offer_no" jdbcType="VARCHAR" property="offerNo" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="mode" jdbcType="INTEGER" property="mode" />
    <result column="sub_mode" jdbcType="TINYINT" property="subMode" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="old_offer" jdbcType="INTEGER" property="oldOffer" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="price_l" jdbcType="DECIMAL" property="priceL" />
    <result column="price_r" jdbcType="DECIMAL" property="priceR" />
    <result column="divide" jdbcType="INTEGER" property="divide" />
    <result column="minimum" jdbcType="DECIMAL" property="minimum" />
    <result column="minstep" jdbcType="DECIMAL" property="minstep" />
    <result column="accept_area" jdbcType="VARCHAR" property="acceptArea" />
    <result column="accept_day" jdbcType="INTEGER" property="acceptDay" />
    <result column="acc_type" jdbcType="VARCHAR" property="accType" />
    <result column="offer_fee" jdbcType="DECIMAL" property="offerFee" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="expire_time" jdbcType="DATE" property="expireTime" />
    <result column="kefu" jdbcType="INTEGER" property="kefu" />
    <result column="risk" jdbcType="VARCHAR" property="risk" />
    <result column="insurance" jdbcType="INTEGER" property="insurance" />
    <result column="admin_msg" jdbcType="VARCHAR" property="adminMsg" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="weight_type" jdbcType="VARCHAR" property="weightType" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="max_num" jdbcType="DECIMAL" property="maxNum" />
    <result column="sell_num" jdbcType="DECIMAL" property="sellNum" />
    <result column="jing_stepprice" jdbcType="DECIMAL" property="jingStepprice" />
    <result column="offer_sort" jdbcType="INTEGER" property="offerSort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_id, classify_id, module_id, navigation_id, offer_no, user_id, type, mode, 
    sub_mode, product_id, pro_name, old_offer, price, price_l, price_r, divide, minimum, 
    minstep, accept_area, accept_day, acc_type, offer_fee, sign, status, is_del, apply_time, 
    finish_time, expire_time, kefu, risk, insurance, admin_msg, other, weight_type, start_time, 
    end_time, max_num, sell_num, jing_stepprice, offer_sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_offer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_offer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nainai.domain.ProductOffer">
    insert into product_offer (id, shop_id, classify_id, 
      module_id, navigation_id, offer_no, 
      user_id, type, mode, 
      sub_mode, product_id, pro_name, 
      old_offer, price, price_l, 
      price_r, divide, minimum, 
      minstep, accept_area, accept_day, 
      acc_type, offer_fee, sign, 
      status, is_del, apply_time, 
      finish_time, expire_time, kefu, 
      risk, insurance, admin_msg, 
      other, weight_type, start_time, 
      end_time, max_num, sell_num, 
      jing_stepprice, offer_sort)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=VARCHAR}, #{classifyId,jdbcType=VARCHAR}, 
      #{moduleId,jdbcType=VARCHAR}, #{navigationId,jdbcType=VARCHAR}, #{offerNo,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{mode,jdbcType=INTEGER}, 
      #{subMode,jdbcType=TINYINT}, #{productId,jdbcType=INTEGER}, #{proName,jdbcType=VARCHAR}, 
      #{oldOffer,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{priceL,jdbcType=DECIMAL}, 
      #{priceR,jdbcType=DECIMAL}, #{divide,jdbcType=INTEGER}, #{minimum,jdbcType=DECIMAL}, 
      #{minstep,jdbcType=DECIMAL}, #{acceptArea,jdbcType=VARCHAR}, #{acceptDay,jdbcType=INTEGER}, 
      #{accType,jdbcType=VARCHAR}, #{offerFee,jdbcType=DECIMAL}, #{sign,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, #{applyTime,jdbcType=TIMESTAMP}, 
      #{finishTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=DATE}, #{kefu,jdbcType=INTEGER}, 
      #{risk,jdbcType=VARCHAR}, #{insurance,jdbcType=INTEGER}, #{adminMsg,jdbcType=VARCHAR}, 
      #{other,jdbcType=VARCHAR}, #{weightType,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{maxNum,jdbcType=DECIMAL}, #{sellNum,jdbcType=DECIMAL}, 
      #{jingStepprice,jdbcType=DECIMAL}, #{offerSort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nainai.domain.ProductOffer">
    insert into product_offer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="classifyId != null">
        classify_id,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="navigationId != null">
        navigation_id,
      </if>
      <if test="offerNo != null">
        offer_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="subMode != null">
        sub_mode,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
      <if test="oldOffer != null">
        old_offer,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="priceL != null">
        price_l,
      </if>
      <if test="priceR != null">
        price_r,
      </if>
      <if test="divide != null">
        divide,
      </if>
      <if test="minimum != null">
        minimum,
      </if>
      <if test="minstep != null">
        minstep,
      </if>
      <if test="acceptArea != null">
        accept_area,
      </if>
      <if test="acceptDay != null">
        accept_day,
      </if>
      <if test="accType != null">
        acc_type,
      </if>
      <if test="offerFee != null">
        offer_fee,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="kefu != null">
        kefu,
      </if>
      <if test="risk != null">
        risk,
      </if>
      <if test="insurance != null">
        insurance,
      </if>
      <if test="adminMsg != null">
        admin_msg,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="weightType != null">
        weight_type,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="maxNum != null">
        max_num,
      </if>
      <if test="sellNum != null">
        sell_num,
      </if>
      <if test="jingStepprice != null">
        jing_stepprice,
      </if>
      <if test="offerSort != null">
        offer_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null">
        #{classifyId,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="navigationId != null">
        #{navigationId,jdbcType=VARCHAR},
      </if>
      <if test="offerNo != null">
        #{offerNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="subMode != null">
        #{subMode,jdbcType=TINYINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="oldOffer != null">
        #{oldOffer,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="priceL != null">
        #{priceL,jdbcType=DECIMAL},
      </if>
      <if test="priceR != null">
        #{priceR,jdbcType=DECIMAL},
      </if>
      <if test="divide != null">
        #{divide,jdbcType=INTEGER},
      </if>
      <if test="minimum != null">
        #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="minstep != null">
        #{minstep,jdbcType=DECIMAL},
      </if>
      <if test="acceptArea != null">
        #{acceptArea,jdbcType=VARCHAR},
      </if>
      <if test="acceptDay != null">
        #{acceptDay,jdbcType=INTEGER},
      </if>
      <if test="accType != null">
        #{accType,jdbcType=VARCHAR},
      </if>
      <if test="offerFee != null">
        #{offerFee,jdbcType=DECIMAL},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=DATE},
      </if>
      <if test="kefu != null">
        #{kefu,jdbcType=INTEGER},
      </if>
      <if test="risk != null">
        #{risk,jdbcType=VARCHAR},
      </if>
      <if test="insurance != null">
        #{insurance,jdbcType=INTEGER},
      </if>
      <if test="adminMsg != null">
        #{adminMsg,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="weightType != null">
        #{weightType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxNum != null">
        #{maxNum,jdbcType=DECIMAL},
      </if>
      <if test="sellNum != null">
        #{sellNum,jdbcType=DECIMAL},
      </if>
      <if test="jingStepprice != null">
        #{jingStepprice,jdbcType=DECIMAL},
      </if>
      <if test="offerSort != null">
        #{offerSort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nainai.domain.ProductOffer">
    update product_offer
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null">
        classify_id = #{classifyId,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="navigationId != null">
        navigation_id = #{navigationId,jdbcType=VARCHAR},
      </if>
      <if test="offerNo != null">
        offer_no = #{offerNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=INTEGER},
      </if>
      <if test="subMode != null">
        sub_mode = #{subMode,jdbcType=TINYINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="oldOffer != null">
        old_offer = #{oldOffer,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="priceL != null">
        price_l = #{priceL,jdbcType=DECIMAL},
      </if>
      <if test="priceR != null">
        price_r = #{priceR,jdbcType=DECIMAL},
      </if>
      <if test="divide != null">
        divide = #{divide,jdbcType=INTEGER},
      </if>
      <if test="minimum != null">
        minimum = #{minimum,jdbcType=DECIMAL},
      </if>
      <if test="minstep != null">
        minstep = #{minstep,jdbcType=DECIMAL},
      </if>
      <if test="acceptArea != null">
        accept_area = #{acceptArea,jdbcType=VARCHAR},
      </if>
      <if test="acceptDay != null">
        accept_day = #{acceptDay,jdbcType=INTEGER},
      </if>
      <if test="accType != null">
        acc_type = #{accType,jdbcType=VARCHAR},
      </if>
      <if test="offerFee != null">
        offer_fee = #{offerFee,jdbcType=DECIMAL},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=DATE},
      </if>
      <if test="kefu != null">
        kefu = #{kefu,jdbcType=INTEGER},
      </if>
      <if test="risk != null">
        risk = #{risk,jdbcType=VARCHAR},
      </if>
      <if test="insurance != null">
        insurance = #{insurance,jdbcType=INTEGER},
      </if>
      <if test="adminMsg != null">
        admin_msg = #{adminMsg,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="weightType != null">
        weight_type = #{weightType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maxNum != null">
        max_num = #{maxNum,jdbcType=DECIMAL},
      </if>
      <if test="sellNum != null">
        sell_num = #{sellNum,jdbcType=DECIMAL},
      </if>
      <if test="jingStepprice != null">
        jing_stepprice = #{jingStepprice,jdbcType=DECIMAL},
      </if>
      <if test="offerSort != null">
        offer_sort = #{offerSort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nainai.domain.ProductOffer">
    update product_offer
    set shop_id = #{shopId,jdbcType=VARCHAR},
      classify_id = #{classifyId,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=VARCHAR},
      navigation_id = #{navigationId,jdbcType=VARCHAR},
      offer_no = #{offerNo,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      mode = #{mode,jdbcType=INTEGER},
      sub_mode = #{subMode,jdbcType=TINYINT},
      product_id = #{productId,jdbcType=INTEGER},
      pro_name = #{proName,jdbcType=VARCHAR},
      old_offer = #{oldOffer,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      price_l = #{priceL,jdbcType=DECIMAL},
      price_r = #{priceR,jdbcType=DECIMAL},
      divide = #{divide,jdbcType=INTEGER},
      minimum = #{minimum,jdbcType=DECIMAL},
      minstep = #{minstep,jdbcType=DECIMAL},
      accept_area = #{acceptArea,jdbcType=VARCHAR},
      accept_day = #{acceptDay,jdbcType=INTEGER},
      acc_type = #{accType,jdbcType=VARCHAR},
      offer_fee = #{offerFee,jdbcType=DECIMAL},
      sign = #{sign,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=DATE},
      kefu = #{kefu,jdbcType=INTEGER},
      risk = #{risk,jdbcType=VARCHAR},
      insurance = #{insurance,jdbcType=INTEGER},
      admin_msg = #{adminMsg,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      weight_type = #{weightType,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      max_num = #{maxNum,jdbcType=DECIMAL},
      sell_num = #{sellNum,jdbcType=DECIMAL},
      jing_stepprice = #{jingStepprice,jdbcType=DECIMAL},
      offer_sort = #{offerSort,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>